IIoT_Node-Red_Flow
[{"id":"cead3613.2ed2c8","type":"tab","label":"IIoT demo","disabled":false,"info":""},{"id":"e897390b.371a3","type":"mqtt in","z":"cead3613.2ed2c8","name":"","topic":"sensorData/temperature","qos":"2","datatype":"auto","broker":"eb1e7930.57c9c","x":150,"y":240,"wires":[["19595b92.a8b94c","8ce6b61.86c1348"]]},{"id":"aa633d84.27de6","type":"mqtt in","z":"cead3613.2ed2c8","name":"","topic":"sensorData/humidity","qos":"2","datatype":"auto","broker":"eb1e7930.57c9c","x":170,"y":360,"wires":[["68dc118f.9dd108","330dd83.1be6ea8"]]},{"id":"68dc118f.9dd108","type":"function","z":"cead3613.2ed2c8","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"Humidity\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["8b6b2e76.0712e8","54b2e678.d4603"]]},{"id":"19595b92.a8b94c","type":"function","z":"cead3613.2ed2c8","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"Temperature\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["8b6b2e76.0712e8","7117d234.a495c4"]]},{"id":"8b6b2e76.0712e8","type":"ui_chart","z":"cead3613.2ed2c8","name":"","group":"28f52b91.65f134","order":1,"width":13,"height":6,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":300,"wires":[[]]},{"id":"7117d234.a495c4","type":"ui_gauge","z":"cead3613.2ed2c8","name":"Temperature","group":"28f52b91.65f134","order":2,"width":3,"height":3,"gtype":"gage","title":"Temperature","label":"*C","format":"{{value}}","min":0,"max":"40","colors":["#e6e600","#00b500","#e6e600"],"seg1":"18","seg2":"26","x":630,"y":240,"wires":[]},{"id":"54b2e678.d4603","type":"ui_gauge","z":"cead3613.2ed2c8","name":"Humidity","group":"28f52b91.65f134","order":3,"width":3,"height":3,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#e6e600","#00b500","#ca3838"],"seg1":"","seg2":"","x":620,"y":360,"wires":[]},{"id":"780fb01a.5d0a8","type":"mqtt in","z":"cead3613.2ed2c8","name":"","topic":"sensorData/switch","qos":"2","datatype":"auto","broker":"eb1e7930.57c9c","x":170,"y":520,"wires":[["bab4a15e.bc8ca","2bd647ec.e9c158"]]},{"id":"bab4a15e.bc8ca","type":"ui_led","z":"cead3613.2ed2c8","group":"28f52b91.65f134","order":7,"width":2,"height":1,"label":"Switch","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"off","valueType":"str"},{"color":"green","value":"on","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":610,"y":520,"wires":[]},{"id":"d64f2bca.407bd8","type":"ui_button","z":"cead3613.2ed2c8","name":"","group":"28f52b91.65f134","order":4,"width":2,"height":1,"passthru":false,"label":"LED on","tooltip":"","color":"black","bgcolor":"green","icon":"","payload":"on","payloadType":"str","topic":"","x":200,"y":640,"wires":[["8285efeb.b400a"]]},{"id":"e96079d4.0158","type":"ui_button","z":"cead3613.2ed2c8","name":"","group":"28f52b91.65f134","order":5,"width":2,"height":1,"passthru":false,"label":"LED off","tooltip":"","color":"black","bgcolor":"red","icon":"","payload":"off","payloadType":"str","topic":"","x":200,"y":700,"wires":[["8285efeb.b400a"]]},{"id":"8285efeb.b400a","type":"mqtt out","z":"cead3613.2ed2c8","name":"","topic":"cmd/ledState","qos":"1","retain":"false","broker":"eb1e7930.57c9c","x":630,"y":640,"wires":[]},{"id":"e4c2be1f.b018d8","type":"sqlite","z":"cead3613.2ed2c8","mydb":"82d5a2b0.4860a8","sqlquery":"prepared","sql":"INSERT INTO\ntemperatureReadings (temperature, timestamp)\nVALUES ($temperature, strftime(\"%s\",\"now\"))","name":"db_temp_logger","x":640,"y":180,"wires":[[]]},{"id":"8ce6b61.86c1348","type":"function","z":"cead3613.2ed2c8","name":"","func":"msg.params = {$temperature:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["e4c2be1f.b018d8"]]},{"id":"330dd83.1be6ea8","type":"function","z":"cead3613.2ed2c8","name":"","func":"msg.params = {$humidity:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["fa4a4720.5b7a58"]]},{"id":"fa4a4720.5b7a58","type":"sqlite","z":"cead3613.2ed2c8","mydb":"82d5a2b0.4860a8","sqlquery":"prepared","sql":"INSERT INTO\nhumidityReadings (humidity, timestamp)\nVALUES ($humidity, strftime(\"%s\",\"now\"))","name":"db_hum_logger","x":640,"y":420,"wires":[[]]},{"id":"2bd647ec.e9c158","type":"function","z":"cead3613.2ed2c8","name":"","func":"msg.params = {$switchState:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":580,"wires":[["c032a314.4da83"]]},{"id":"c032a314.4da83","type":"sqlite","z":"cead3613.2ed2c8","mydb":"82d5a2b0.4860a8","sqlquery":"prepared","sql":"INSERT INTO\nswitchState (switchState, timestamp)\nVALUES ($switchState, strftime(\"%s\",\"now\"))","name":"db_temp_logger","x":640,"y":580,"wires":[[]]},{"id":"8b37675c.7903b","type":"inject","z":"cead3613.2ed2c8","name":"Initialise_database","topic":"DROP TABLE IF EXISTS temperatureReadings; DROP TABLE IF EXISTS humidityReadings; DROP TABLE IF EXISTS switchState;  CREATE TABLE temperatureReadings (temperature REAL, timestamp INTEGER); CREATE TABLE humidityReadings (humidity REAL, timestamp INTEGER); CREATE TABLE switchState (switchState TEXT, timestamp INTEGER);","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":40,"wires":[["9d0a29b6.df79d8"]]},{"id":"9d0a29b6.df79d8","type":"sqlite","z":"cead3613.2ed2c8","mydb":"82d5a2b0.4860a8","sqlquery":"fixed","sql":"DROP TABLE IF EXISTS temperatureReadings;","name":"db_init_1","x":420,"y":40,"wires":[["e0edd01d.8af698"]]},{"id":"e0edd01d.8af698","type":"sqlite","z":"cead3613.2ed2c8","mydb":"82d5a2b0.4860a8","sqlquery":"fixed","sql":"DROP TABLE IF EXISTS humidityReadings;","name":"db_init_2","x":580,"y":40,"wires":[["e721fa1b.f40d4"]]},{"id":"e721fa1b.f40d4","type":"sqlite","z":"cead3613.2ed2c8","mydb":"82d5a2b0.4860a8","sqlquery":"fixed","sql":"DROP TABLE IF EXISTS switchState;","name":"db_init_3","x":740,"y":40,"wires":[["baff642a.7a36b"]]},{"id":"baff642a.7a36b","type":"sqlite","z":"cead3613.2ed2c8","mydb":"82d5a2b0.4860a8","sqlquery":"fixed","sql":"CREATE TABLE temperatureReadings (temperature REAL, timestamp INTEGER);","name":"db_init_4","x":420,"y":100,"wires":[["e0ecc00b.711f68"]]},{"id":"e0ecc00b.711f68","type":"sqlite","z":"cead3613.2ed2c8","mydb":"82d5a2b0.4860a8","sqlquery":"fixed","sql":"CREATE TABLE humidityReadings (humidity REAL, timestamp INTEGER);","name":"db_init_5","x":580,"y":100,"wires":[["cf35a651.e50e68"]]},{"id":"cf35a651.e50e68","type":"sqlite","z":"cead3613.2ed2c8","mydb":"82d5a2b0.4860a8","sqlquery":"fixed","sql":"CREATE TABLE switchState (switchState TEXT, timestamp INTEGER);","name":"db_init_6","x":740,"y":100,"wires":[[]]},{"id":"eb1e7930.57c9c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28f52b91.65f134","type":"ui_group","z":"","name":"Default","tab":"be1bc863.455c58","order":1,"disp":true,"width":16,"collapse":false},{"id":"82d5a2b0.4860a8","type":"sqlitedb","z":"","db":"/home/richard/work/DigitME/webinars/iiot_example/iiot_readings.db","mode":"RWC"},{"id":"be1bc863.455c58","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
